.addDeviceBtn {
  display: block;
  width: 40rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background: deepskyblue;
  padding: 0.5rem 0 0.5rem 0;

  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 1;
  }
}
