.tv {
  margin-top: 5rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1.5rem;
  width: 50rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;

  &__controls {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
  }

  &__controls-power-on-btn {
    background: green;
  }

  &__controls-power-off-btn {
    background: red;
  }
}
